<h1 class="my-5">Classic Cocktails</h1>
<div class="container-cards" class='col-6'>
  <% @cocktails.each do |cocktail| %>
    <div class="items" style="background-image: url('<%= cl_image_path cocktail.photo.key, height: 300, width: 400, crop: :fill if cocktail.photo.attached? %>'); background-size:auto; background-repeat:no-repeat;">
      <div class="icon-wrapper">
      </div>
      <div class="project-name">
        <p><%= link_to cocktail.name, cocktail, style:'text-decoration: none;' %></p>
      </div>
    </div> 
  <% end %> 
</div>

<%= link_to new_cocktail_path do %>
  <div id="btn"><span class="noselect">New Cocktail</span><div id="circle"></div></div>
<% end  %>
