<div class=row>
  <div class='col-12 '>
    <h1 class="my-5">Cocktails</h1>
        <ul>
          <% @cocktails.each do |cocktail| %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
          <li><%= link_to cocktail.name, cocktail %></li>
          </div>
          <% end %>
        </ul>
    </div>
    <br>
  </div>
</div>


<div id="btn"><span class="noselect"><%= link_to 'New Cocktail', new_cocktail_path %></span><div id="circle"></div></div>









 